<% content_for :title, "デート診断" %>

<div class="mt-10 max-w-2xl bg-white p-8 rounded shadow-md mx-4 md:mx-auto">
  <h2 class="text-2xl text-center mb-6 font-bold">次に会うお相手に当てはまるのは？</h2>
  <h2 class=" text-xm text-center mb-6 font-bold text-red-400">1つ選んでください</h2>

  <%= form_with url: diagnoses_result_path, method: :post, local: true, data: { turbo: false } do |f| %>
    <% [
      "優しい目元で、共感力が高く人の気持ちに寄り添える。",
      "清潔感のある服装で、気配り上手な性格。",
      "ファッションに気を配りつつ、言葉に敏感で思いやりがある。"
    ].each_with_index do |desc, i| %>
      <div class="flex items-start space-x-4 mb-4 ">
        <%= f.radio_button :answer, i, id: "answer_#{i}", class: "radio radio-lg radio-accent mt-1" %>
        <%= f.label :answer, desc, for: "answer_#{i}", class: "text-lg leading-relaxed" %>
      </div>
    <% end %>

    <div class="mt-6 text-center">
      <%= f.submit "診断結果へ", class: "btn bg-[#D5A273] text-white hover:bg-[#b77f53] px-6 text-lg" %>
    </div>
  <% end %>
</div>