<div class="max-w-xl mx-auto text-center mt-10 bg-white rounded-xl shadow-lg p-8">
  <h1 class="text-3xl font-bold mb-8">ぴったりなお店が見つかりました！</h1>

  <p class="text-sm text-gray-500 mb-6">社交的な彼女、だけど自然な距離感を保つのがコツ？
</p>

  <div class="mb-10">
    <p class="text-xl font-semibold mb-2">おすすめカテゴリー</p>
    <p class="text-lg">「フレンチ」</p>

    <%= link_to "おすすめカテゴリーをmapで見る", shops_path(q: { category_id_eq: 36 }), class: "inline-block mt-4 px-6 py-3 bg-[#D5A273] text-white font-semibold rounded hover:bg-[#b77f53]" %>
  </div>

  <div class="mb-10">
    <p class="text-xl font-semibold mb-2">おすすめのお店</p>
    <p class="text-lg">「Casual Dining Iris（アイリス）」</p>
    <p class="text-lg">落ち着いた店内でゆったり会話ができる！</p>

    <%= link_to "お店詳細", shop_path(47), class: "inline-block mt-4 px-6 py-3 bg-[#D5A273] text-white font-semibold rounded hover:bg-[#b77f53]" %>
  </div>
</div>