<div class="max-w-xl mx-auto text-center mt-10 bg-white rounded-xl shadow-lg p-8">  <h1 class="text-3xl font-bold mb-8">ぴったりなお店が見つかりました！</h1>

  <p class="text-sm text-gray-500 mb-6">信頼され、頼られる存在になれるかがポイント？</p>

  <div class="mb-10">
    <p class="text-xl font-semibold mb-2">おすすめカテゴリー</p>
    <p class="text-lg">「ビストロ」</p>

    <%= link_to "おすすめカテゴリーをmapで見る", shops_path(q: { category_id_eq: 42 }), class: "inline-block mt-4 px-6 py-3 bg-[#D5A273] text-white font-semibold rounded hover:bg-[#b77f53]" %>
  </div>

  <div class="mb-10">
    <p class="text-xl font-semibold mb-2">おすすめのお店</p>
    <p class="text-lg">「BISTRO N°1 -名駅店-」</p>
    <p class="text-lg">いつもとは違う雰囲気で乾杯</p>

    <%= link_to "お店詳細", shop_path(59), class: "inline-block mt-4 px-6 py-3 bg-[#D5A273] text-white font-semibold rounded hover:bg-[#b77f53]" %>
  </div>
</div>