<body class="overflow-hidden ">
  <div class="flex flex-col md:flex-row w-full h-screen">

    <!-- 左カラム -->
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center h-full">
      <%= image_tag "map.png", alt: "地図画像", class: " w-full max-w-3xl h-auto m-4" %>
    </div>

    <!-- 右カラム -->
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center text-center px-8 h-full">
      <h1 class="text-6xl font-bold mb-6">アプリ名</h1>

      <div class="text-lg mb-8">
        <p>アプリ説明文</p>
        <p class="text-sm text-gray-500 mt-1">※ご利用には会員登録が必要です</p>
      </div>

      <div class="flex space-x-6">
        <%= link_to "会員登録", new_user_registration_path, class: "btn text-xl p-6 bg-[#D5A273] text-white hover:bg-[#b77f53]" %>
      </div>
    </div>

  </div>
</body>
