<div class="flex flex-col md:flex-row w-full pt-5" style="height: calc(100vh - 105px);">

  <!-- 左カラム -->
  <div class="w-full md:w-1/2 h-full">
    <%= image_tag "map.png", alt: "地図画像", class: "w-full h-full object-cover" %>
  </div>

  <!-- 右カラム -->
  <div class="w-full md:w-1/2 flex flex-col justify-center items-center text-center h-full">
    <h1 class="text-6xl font-bold">ドコデート</h1>

    <div class="text-lg mt-4">
      <p>“どこ行く？”を解決。地図でデート店探し</p>
      <p class="text-sm text-gray-500">※ご利用には会員登録が必要です</p>
    </div>

    <div class="mt-6">
      <%= link_to "会員登録", new_user_registration_path, class: "btn text-3xl px-10 py-8 bg-[#D5A273] text-white hover:bg-[#b77f53]" %>
    </div>
  </div>

</div>
