<div class="flex justify-center pt-10 ">
  <div class="w-full max-w-lg md:max-w-4xl bg-white rounded-xl shadow-lg p-8 mx-5">
    <h1 class="text-2xl text-center mb-6 font-bold">プライバシーポリシー</h1>

      <h2>1.取得する情報</h2>
      <p>当アプリでは、以下の情報をお客様から取得いたします。</p>
      <ul>
        <li>氏名（ニックネームを含む）</li>
        <li>メールアドレス</li>
        <li>お問い合わせ内容</li>
      </ul>

      <h2>2.情報の利用目的</h2>
      <p>取得した情報は、以下の目的で使用いたします。</p>
      <Ul>
        <li>本人確認および認証</li>
        <li>お問い合わせ対応</li>
        <li>ユーザー体験を向上させるためのサービス改善および分析</li>
      </Ul>

      <h2>3.第三者提供について</h2>
      <p>お客様の同意なしに、個人情報を第三者に提供することはありません。</p>

      <h2>4.プライバシーポリシーの変更</h2>
      <p>当アプリは、必要に応じてプライバシーポリシーを改定することがあります。</p>
      <p>変更がある場合は、適切な方法でお知らせいたします。</p>

  </div>
</div>


