<p><%= @resource.name %> 様</p>

<p>パスワード再設定のご依頼を受け付けました。以下のリンクから再設定を行ってください。</p>

<p>
  <%= link_to "パスワードを再設定する",
              edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>このメールに心当たりがない場合は、このメールを破棄してください。
リンクにアクセスしない限り、パスワードは変更されません。</p>