    <footer class="bg-yellow-400 text-sm text-gray-800 text-right p-2">
      <div class="flex justify-between items-center">
        <div class="ml-4">© 2025 MyApp</div>
        <div class="mr-4">
          <a href="#" class="hover:underline">お問い合わせ</a> /
          <a href="#" class="hover:underline">利用規約</a>
        </div>
      </div>
    </footer>