    <footer class="bg-yellow-400 text-base text-gray-800 text-right px-2 py-6">
      <div class="flex justify-between items-center">
        <div class="ml-4">© 2025 MyApp</div>
        <div class="mr-4">
          <a href=/terms class="hover:underline">利用規約</a> /
          <a href=/privacy class="hover:underline">プライバシーポリシー</a>
        </div>
      </div>
    </footer>